streamlit
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-openai
asyncio-throttle
nest_asyncio 
qdrant-client>=1.7.0 
langchain-qdrant
requests
arxiv
PyPDF2
fuzzywuzzy
python-Levenshtein
Pillow
protobuf~=3.20.0 
pymupdf
unstructured[pdf]>=0.12.0 
tqdm